.navbar {
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.logo-image {
  height: 32px;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 0.5rem;
  font-family: 'Fira Sans', sans-serif;
  color: #11324D;
}

.nav-links {
  display: flex;
}

.nav-link {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #9FD8DF;
  text-decoration: none; /* Remove underline on hover */
}

.login-register {
  display: flex;
}

.login-link {
  margin-right: 1rem;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
  margin-top: 0.7rem;
}

.login-link:hover {
  color: #9FD8DF;
  text-decoration: none; /* Remove underline on hover */
}

.register-link {
  text-decoration: none;
  color: #000;
  border: 2px solid #9FD8DF;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.register-link:hover {
  border-color: #9FD8DF;
  color: #9FD8DF;
  text-decoration: none; /* Remove underline on hover */
}


/* Dropdown */
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #ffffff;
border: 1px solid #ccc;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 1;
border-radius: 2px;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content a {
padding: 10px 20px;
display: block;
color: black;
text-decoration: none;
transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
background-color: #9FD8DF;
}

.logout-link {
text-decoration: none;
color: #fff; /* Change the text color to white or any other preferred color */
background-color: #11324D; /* Change the background color to your preferred color */
border: 2px solid #11324D; /* Add a border with the same color as the background */
padding: 0.5rem 1rem;
border-radius: 4px;
transition: background-color 0.3s ease, color 0.3s ease; /* Add transitions for a smooth hover effect */
}

.logout-link:hover {
background-color: #9FD8DF; /* Change the background color on hover */
color: white; /* Change the text color on hover */
text-decoration: none; /* Remove underline on hover */
cursor: pointer; /* Add a pointer cursor on hover to indicate it's clickable */
}