/* CSS for OrderSuccess Component */
.order-success {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F6F9FB;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .order-success h2 {
    font-size: 24px;
    color: #333; /* Adjust the color as needed */
    margin-bottom: 10px;
  }
  
  .order-success p {
    font-size: 16px;
    color: #666; /* Adjust the color as needed */
  }
  