/* Profile Container Styles */
.profile-container {
  background-color: #f6f9fb;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 3rem;
}

/* Profile Heading Styles */
.profile-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #11324d;
  margin-bottom: 1rem;
}

/* Boutique Info Styles */
.Boutique-info {
  display: flex;
  align-items: center;
}

/* Boutique Avatar Styles */
.Boutique-avatar {
  background-color: #fff;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Boutique-avatar img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

/* Profile Details Styles */
.profile-details {
  text-align: left;
  margin-top: 1rem;
  margin-left: 2rem;
}

.profile-details h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #11324d;
  margin-bottom: 0.5rem;
}

.profile-details p {
  font-size: 1rem;
  color: #30475e;
  margin-bottom: 0.5rem;
}

/* Orders Section Styles */
.orders-section {
  margin-top: 2rem;
}

.orders-section h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #11324d;
  margin-bottom: 1rem;
}

.order {
  border: 1px solid #ced4da;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.order p {
  font-size: 1rem;
  color: #30475e;
  margin-bottom: 0.5rem;
}

.order input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  color: #30475e;
  margin-bottom: 0.5rem;
}

.order button {
  background-color:#11324d;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.order button:hover {
  background-color: #54a5e8;
  transform: scale(1.05);
}


/* Catalogue Styles */
.catalogue {
  margin-top: 2rem;
  border: 1px solid #ced4da;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.catalogue h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #11324d;
  margin-bottom: 1rem;
}

.catalogue img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.catalogue p {
  font-size: 1.2rem;
  color: #30475e;
  margin-bottom: 0.5rem;
}
.catalogue button {
  margin-top: 1rem ;
  background-color:#11324d;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.catalogue button:hover {
  background-color: #54a5e8;
  transform: scale(1.05);
}