.customer-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #F6F9FB;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #11324D;
  margin-bottom: 3rem;
  text-align: center;
}

.customer-info {
  display: flex;
  align-items: center;
}

.customer-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.customer-details h3 {
  font-size: 3rem;
  margin: 0;
  color: #11324D;
}

.customer-details p {
  color: #30475E;
  margin: 0.5rem 0;
  margin-left: 3rem;
  font-size: 1rem;
}


/* Feedback Section Styles */
.feedback-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feedback-section h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #11324D;
  margin-bottom: 1rem;
}

.feedback-section p {
  font-size: 1rem;
  color: #30475E;
  margin-bottom: 1rem;
}

.feedback-button {
  background-color: #30475E;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none; /* Remove default button underline */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.feedback-button:hover {
  background-color: #11324D;
}
/* Track Section Styles */
.Track-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Track-section h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #11324D;
  margin-bottom: 1rem;
}

.Track-section p {
  font-size: 1rem;
  color: #30475E;
  margin-bottom: 1rem;
}

.Track-button {
  background-color: #30475E;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none; /* Remove default button underline */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.Track-button:hover {
  background-color: #11324D;
}
