
 /* FilterBar.css */
 .filter-bar {
    height: 32rem;
    width: 10rem;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: larger;
  }
  
  .filter-bar label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .filter-bar input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .sub-filter-bar {
    display: none; /* Initially hide sub-filter bars */
  }
  
  .sub-filter-bar.show {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
  }
  
  .sub-filter-bar label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sub-filter-bar input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Style for checked checkboxes */
  input[type="checkbox"]:checked + label::before {
    content: '\2713'; /* Checkmark character */
    color: #007BFF;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Show sub-filter bar when parent filter is checked */
  .filter-bar input[type="checkbox"]:checked ~ .sub-filter-bar {
    display: block;
  }